[Desktop Entry]
Name=Love and Sex: Second Base
Comment=Play this game on Steam
Exec=steam steam://rungameid/1264710
Icon=steam_icon_1264710
Terminal=false
Type=Application
Categories=Game;
